.flex-list {
  display: flex;
  justify-content: space-between;
}

.our-team {
  margin-bottom: 85px;
}

.our-team__description {
  font-family: var(--ff_roboto);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  text-align: center;
  padding: 0 130px;
  margin-bottom: 95px;
}

.team-list {
  text-align: center;
}
