/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src:   url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Modern Browsers */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src:    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Modern Browsers */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v9-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-slab-v9-latin-regular.woff") format("woff"); /* Modern Browsers */
}
/* Wisdom-Script-700 - latin */
@font-face {
  font-family: "Wisdom Script";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/WisdomScriptAJ.woff"); /* Super Modern Browsers */
}
/* dm-serif-text-italic - latin */
@font-face {
  font-family: 'DM Serif Text';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/dm-serif-text-v3-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dm-serif-text-v3-latin-italic.woff') format('woff'); /* Modern Browsers */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
::after {
  box-sizing: border-box;
}


:root {
  --ff_montserat: "Montserrat", Arial, sans-serif;
  --ff_wisdom: "Wisdom Script", Arial, sans-serif;
  --ff_dm_serif: "DM Serif Text", "Times New Roman", serif;
  --ff_roboto_slab: "Roboto Slab", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Header */

header .container {
  font-family: var(--ff_montserat);
  color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 42px;
}

.logo_link {
  font-family: var(--ff_wisdom);
  font-style: italic;
  font-size: 30px;
  color: #fdd135;
  font-weight: 700;
}

.site_navigation_list {
  width: 490px;
  display: flex;
  justify-content: space-between;
}

.site_navigation_item {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}

.site_navigation_item:hover {
  color: #fdd135;
}

/* Header */
/* ----------------------------------------- */
/* Section services */
/* Header h2 */

.section_header {
  text-align: center;
  font-family: var(--ff_montserat);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 110px;
}

.section_header_descr {
  text-align: center;
  color: #777777;
  font-family: var(--ff_dm_serif);
  font-size: 16px;
  line-height: calc(16px * 1.2);
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  padding-top: 10px;
  margin-bottom: 70px;
}

/* Service list */

.services_list {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.services_item {
  width: 290px;
  text-align: center;
}

.icon::before {
  display: inline-block;
  content: "";
  width: 66px;
  height: 66px;
  border: 3px solid #fed136;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
}

.basket::before {
  background-image: url(../img/Icon-Basket.png);
}

.laptop::before {
  background-image: url(../img/Icon-Laptop.png);
}

.locked::before {
  background-image: url(../img/Icon-Locked.png);
}

.services_header {
  font-family: var(--ff_montserat);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #222222;
  margin-bottom: 20px;
}

.services_description {
  font-family: var(--ff_roboto_slab);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #777777;
}

.contact_box .section_header::first-line {
  color: #ffffff;
}

/* ---------------------------------- */

/* From */
form {
  padding-bottom: 115px;
  font-family: var(--ff_montserat);
}

.input_box {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 30px;
}

.one_rows_input {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

textarea {
  width: 450px;
  height: 210px;
  border: none;
  font-size: 14px;
  padding: 20px;
  resize: none;
  display: block;
  border-radius: 2px;
}

input {
  color: #333333;
  border: none;
  width: 455px;
  height: 50px;
  font-size: 14px;
  line-height: 14px;
  padding: 20px;
  border-radius: 2px;
}

*:not([name="subject"]):valid {
  outline-color: green;
}

*:not([name="subject"]):invalid {
  outline-color: red;
}

*::placeholder {
  color: #bbbbbb;
  font-family: var(--ff_montserat);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

:focus::placeholder {
  content: "";
  opacity: 0;
}

.subscribe_btn {
  font-family: var(--ff_montserat);
  display: block;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fed136;
  border: none;
  border-radius: 3px;
  width: 240px;
  height: 65px;
  cursor: pointer;
  margin: 0 auto;
}

.contact_box {
  background-image: url(../img/Map_Image.png);
  background-repeat: no-repeat;
  background-color: #222222;
  background-position: right bottom 20px;
}
