.nav-list {
  width: 620px;

  &__item {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;

    &:hover {
      color: $c_n-list_itm_hover;
    }

    &--animation-underline::after {
      position: absolute;
      display: block;
      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
      content: '';
      width: 0%;
      height: 3px;
      background-color: $c_n-list_itm_hover;
      -webkit-transition: width 200ms linear 0ms;
      -o-transition: width 200ms linear 0ms;
      transition: width 200ms linear 0ms;
    }

    &--animation-underline:hover:after {
      width: 100%;
    }
  }
}

.header-icon {
  display: block;
  background-repeat: no-repeat;
  height: 16px;
  width: 20px;
  fill: $c_header-icon;

  &:hover {
    fill: $c_n-list_itm_hover;
  }
}
