.services-list {
  padding-top: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  &__item {
    width: 390px;
    margin-bottom: 100px;
    margin-right: 10px;
    position: relative;
  }

  &__text {
    padding-left: 90px;
  }

  &__header {
    font-family: $f_montserrat;
    font-size: 14px;
    font-weight: 400;
    color: $c_serv-list_header;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__description {
    font-family: $f_roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: $c_serv-list_descr;
  }
}

.icon::before {
  display: inline-block;
  content: '';
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
}

.alarm::before {
  background-image: url(../../images/alarm.svg);
}

.line_graph::before {
  background-image: url(../../images/line-graph.svg);
}

.computer::before {
  background-image: url(../../images/computer-ok.svg);
}

.book::before {
  background-image: url(../../images/book.svg);
}

.home::before {
  background-image: url(../../images/home.svg);
}

.image::before {
  background-image: url(../../images/image.svg);
}
