.background {
  position: relative;
  width: 100%;
  height: 1000px;
  margin-bottom: 45px;

  &::before {
    position: absolute;
    content: '';
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/picture.jpg) no-repeat center;
    background-size: cover;
  }

  &::after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    );
    background-image: -o-linear-gradient(
      left,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    );
    background-image: linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    );
  }
}

@media (min-resolution: 192dpi) {
  .background::before {
    background: url(../images/picture@2x.jpg) no-repeat center;
    background-size: cover;
  }
}

.container {
  width: $cont_width;
  margin: 0 auto;
}

.logo-link {
  font-size: 30px;
  font-weight: 700;
}

.welcome-container {
  font-family: $f_montserrat;
  color: $c_welcome;
  text-align: center;
  padding: 0 150px;
}

.l-more-btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid #ffffff;
}

.flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
