* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #626262;
}

.page {
  width: 1170px;
  padding: 36px;
  margin: 0 auto;
}

.site_navigation {
  display: table;
  margin: 0 auto;
}

.nav_links {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  color: rgb(15, 1, 1);
  margin-right: 35px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

a.logo {
  display: block;
  font-weight: 300;
  color: rgb(85, 82, 82);
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
}

.logo::first-letter {
  content: "";
  color: rgb(26, 188, 156);
  font-weight: 900;
}

.logo::after {
  content: "";
  clear: both;
}

li {
  list-style-type: none;
  display: block;
  float: left;
}

ul > li:last-child {
  margin: 0;
}


a:hover {
  color: rgb(26, 188, 156);
}
