* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #626262;
}

.page {
  width: 1110px;
  margin: 36px auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

/* Header */

.site_navigation {
  margin-bottom: 106px;
}

.site_navigation li {
  list-style-type: none;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h1 a {
  display: block;
  color: inherit;
}

.logo {
  display: block;
  float: left;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  color: #555252;
  text-transform: uppercase;
  margin-right: 567px;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
  content: "";
}

.nav_links a {
  font-size: 14px;
  font-weight: 700;
  color: #0f0101;
}

.nav_links {
  display: block;
  float: left;
  padding-top: 9px;
  padding-right: 30px;
  padding-bottom: 9px;
}

.nav_links:last-child {
  padding-right: 0px;
}

.nav_links a:hover,
.nav_links a:focus {
  color: #1abc9c;
}

/* main content */
/* header two */

main {
  font-family: "Roboto", "Arial", sans-serif;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  color: #555252;
  text-align: center;
  margin-bottom: 81px;
}

h2::after {
  display: block;
  background-color: #4ec6ab;
  width: 164px;
  height: 7px;
  content: "";
  margin: auto;
  margin-top: 32px;
}

h2.main_header {
  margin-bottom: 92px;
}

/* product block */

.product_select {
  margin-bottom: 103px;
}

.product_item {
  display: block;
  float: left;
  background-color: #323232;
  width: 255px;
  height: 322px;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product_item:nth-of-type(4n) {
  margin-right: 0;
}

.product_item:nth-of-type(n + 5) {
  margin-bottom: 0;
}

.product_item:hover {
  background-color: #1abc9c;
  cursor: pointer;
}

.product_item img {
  float: left;
  background-color: #e9f0fd;
}

h3 {
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

h3::before {
  display: inline-block;
  width: 15px;
  content: "";
}

.price {
  display: inline-block;
  float: right;
  background-color: rgba(255, 255, 255, 0.43);
  width: 54px;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  color: #fff;
  text-align: center;
}

/* News block */

.news_article {
  display: block;
  float: left;
  width: 350px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #555252;
  vertical-align: top;
  margin-right: 30px;
}

.news_article img {
  margin-bottom: 14px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 29px;
}

h4::after {
  display: block;
  width: 136px;
  content: "";
  background-color: #4ec6ab;
  height: 3px;
  text-align: left;
  margin-top: 11px;
}

.news_article:last-child {
  margin-right: 0;
}

.news_article p {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
}

.news_article a {
  display: block;
  width: 159px;
  height: 51px;
  font-weight: 300;
  line-height: 51px;
  color: #ffffff;
  text-align: center;
  background-color: #4ec6ab;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.39);
  border-radius: 3px;
}
