@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --ff_montserrat: "Montserrat", Arial, sans-serif;
  --ff_kaushan_script: "Kaushan Script", "Times New Roman", serif;
  --ff_roboto: "Roboto", Arial, sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background: none;
}

.background {
  position: relative;
  width: 100%;
  height: 1000px;
  margin-bottom: 45px;
}

.background::before {
  position: absolute;
  content: "";
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../img/picture.jpg) no-repeat center;
  background-size: cover;
}

.background::after {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
}

/* Header */

.header {
  font-family: var(--ff_montserrat);
  color: #ffffff;
  z-index: 1;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 30px;
  margin-bottom: 130px;
}

.logo-link {
  font-size: 30px;
  font-weight: 700;
}

.nav-list {
  width: 620px;
}

.nav-list__item {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.nav-list__item:hover {
  color: #fce38a;
}

.nav-list__item--animation-underline::after {
  position: absolute;
  display: block;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fce38a;
  -webkit-transition: width 200ms linear 0ms;
  -o-transition: width 200ms linear 0ms;
  transition: width 200ms linear 0ms;
}

.nav-list__item--animation-underline:hover:after {
  width: 100%;
}

.header-icon {
  display: block;
  background-repeat: no-repeat;
  height: 16px;
  width: 20px;
  fill: #ffffff;
}

.header-icon:hover {
  fill: #fce38a;
}

.l-more-btn {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
  border: 3px solid #ffffff;
}

/* Header */
/* ----------------------------------------- */
/* Section services */
/* Header h2 */

.welcome-container {
  font-family: var(--ff_montserrat);
  color: #ffffff;
  text-align: center;
  padding: 0 150px;
}

.section-title {
  text-align: center;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.section-title--small {
  font-size: 30px;
  line-height: 30px;
}

.section-title--big {
  font-size: 150px;
  line-height: 150px;
}

.section-title__pre-title {
  display: block;
  font-family: var(--ff_kaushan_script);
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  margin-bottom: 20px;
}

.section-title__pre-title--big {
  font-size: 75px;
  line-height: 75px;
}

.section-title__pre-title--small {
  font-size: 24px;
  line-height: 24px;
}

.section-title--line-after::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 40px);
  -ms-transform: translate(-50%, 40px);
  transform: translate(-50%, 40px);
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

/* Service list */

.services-list {
  padding-top: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services-list__item {
  width: 390px;
  margin-bottom: 100px;
  margin-right: 10px;
  position: relative;
}

.icon::before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
}

.alarm::before {
  background-image: url(../img/alarm.svg);
}

.line_graph::before {
  background-image: url(../img/line-graph.svg);
}

.computer::before {
  background-image: url(../img/computer-ok.svg);
}

.book::before {
  background-image: url(../img/book.svg);
}

.home::before {
  background-image: url(../img/home.svg);
}

.image::before {
  background-image: url(../img/image.svg);
}

.services-list__text {
  padding-left: 90px;
}

.services-list__header {
  font-family: var(--ff_montserrat);
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.services-list__description {
  font-family: var(--ff_roboto);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

/* ---------------------------------- */
/* Section Team */

.our-team {
  margin-bottom: 85px;
}

.our-team__description {
  font-family: var(--ff_roboto);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  text-align: center;
  padding: 0 130px;
  margin-bottom: 95px;
}

/* ul Team cards */

.team-list {
  text-align: center;
}

.team-item {
  width: 380px;
}

.team-item__background-for-overlay {
  background-color: rgba(149, 225, 211, 1);
  margin-bottom: 30px;
}

.team-item__overlay {
  position: relative;
}

.team-item__overlay:hover {
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.team-item__overlay:hover .overlay {
  z-index: 1;
}

.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-icon-list__item {
  width: 55px;
  height: 55px;
}

.social-icon-list__item:nth-last-of-type(n + 2) {
  margin-right: 1px;
}

.social-icon {
  display: block;
  padding: 15px;
  background-repeat: no-repeat;
  background-color: #fce38a;
  fill: rgb(243, 129, 129);
  width: 100%;
  height: 100%;
}

.social-icon-list__item:hover .social-icon {
  background-color: #f38181;
  fill: #ffffff;
}

/* Team text */

.team-item__name {
  font-family: var(--ff_montserrat);
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}

.team-item__descr {
  font-family: var(--ff_roboto);
  font-size: 15px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
}

/* ---------------------------------------------- */
/* Footer */

.copyright {
  font-family: var(--ff_montserrat);
  color: #333333;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e5e5e5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright__link {
  color: #f38181;
}

/* From */

.subscribe__input {
  color: #333333;
  font-family: var(--ff_roboto);
  border: 1px solid #e7e7e7;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  width: 230px;
  padding-left: 10px;
}

.subscribe__input::-webkit-input-placeholder,
.subscribe__input::-moz-placeholder,
.subscribe__input:-ms-input-placeholder,
.subscribe__input::-ms-input-placeholder,
.subscribe__input::placeholder {
  color: #cccccc;
  font-size: 15px;
  line-height: 24px;
}

:focus::-webkit-input-placeholder,
:focus::-moz-placeholder,
:focus:-ms-input-placeholder,
:focus::-ms-input-placeholder,
:focus::placeholder
 {
  content: "";
  opacity: 0;
}

.subscribe__btn {
  font-family: var(--ff_montserrat);
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #95e1d3;
  padding: 13px 33px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .background::before {
    background: url(../img/picture@2x.jpg) no-repeat center;
  }
}
